DEBUG= True/False
SECRET_KEY= Django secret key, you can generate ur one here https://djecrety.ir/

# Stripe payments
STRIPE_API_KEY= Your stripe api key, you can find it in your account
STRIPE_WEBHOOK_SECRET= Your stripe webhook for payments, you can create in your account
SUCCESS_URL= Link for successful payment
CANCEL_URL= Link for failed payment

# Gmail SMTP
USE_EMAIL_VERIFICATION= True if you want to use verification, if False all uri to reset password won't be accessible
SMTP_PASSWORD= APP PASSWORD
SMTP_HOST=HOST
SMTP_PORT=587 IF TSL 465 IF SSL
SMTP_HOST_USER=YOUR EMAIL
SMTP_DEFAULT_FROM_EMAIL=YOUR EMAIL
FRONTEND_URL= Your frontend url

# Postgres
POSTGRES_PASSWORD=postgres
POSTGRES_USER=postgres
POSTGRES_DB=postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
PGDATA=/var/lib/posgresql/data -- used for pg volume